@use '/src/common/styles/templates' as *;

.container {
  display: flex;
  justify-content: space-between;
}

.light {
  @extend %light;
}

.dark {
  @extend %dark;
}

// .null{
//   display: none;
// }
.menu{
display: none;
}
.view{
display: block;
}